{{> header}}

{{> navigation}}

<div class="container">

    <header>
        <h1>{{site.title}}</h1>
        {{#if tag}}
            <p>Posts tagged: {{tag}}</p>
        {{else}}
            {{#if dateStr}}
                <p>Posts dated: {{dateStr}}</p>
            {{else}}
                <p>{{site.description}}</p>
            {{/if}}
        {{/if}}
    </header>

    <div class="row">
        <div class="main">
            {{> loop}}

            {{> pagination}}
        </div>
        <aside>
            {{> sidebar}}
        </aside>
    </div>

</div>

{{> footer}}
