{{> header}}

{{> navigation}}

<div class="container">

    {{#post}}
        <div class="row">
            <article>
                <h1>{{title}}</h1>
                <p class="post-meta">
                    {{date format="MMMM Do YYYY"}}
                    by <span>{{author.name}}</span>
                    {{#if tags}} on {{{tags}}}{{/if}}
                </p>
                {{{body}}}
            </article>
            <aside>
                {{> sidebar}}
            </aside>
        </div>
    {{/post}}

</div>

{{> footer}}
