<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{meta_description}}">
    <meta name="author" content="">
    <link rel="icon" href="{{resolve "/favicon.ico"}}">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{resolve "/css/style.min.css"}}">
    <meta name="generator" content="{{generator}}" />
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{rss}}">
</head>

<body>
